@model             Domain.Models.MemberModel

<div class="member-card" data-member-id="@Model.Id">
    <button class="edit-btn"
            data-fetch-url="@Url.Action("EditMember", "Members", new { id = Model.Id })"
            data-container="editMemberContainer">
        <img src="~/Images/Icons/More 2.svg" alt="Edit" class="member-card-edit" />
    </button>

    <img src="~/@Model.ImageName" alt="Avatar" class="member-card-avatar" />

    <h4>@Model.FirstName @Model.LastName</h4>
    @if (!string.IsNullOrWhiteSpace(Model.Role?.Name))
    {
        <div class="member-card-title">@Model.Role.Name</div>
    }
    <div class="member-card-email">@Model.Email</div>
    <div class="member-card-phone">@Model.Phone</div>

    <button class="btn btn-gray btn-member">Message</button>
</div>

